<style>
    body {
/*        background-image: url("https://www.origin8concepts.com/wp-content/uploads/2016/06/origin8-white-polygon-background-1.jpg"); */
    background-image: linear-gradient(to right, #bd003a, black 10%, black 90%, #bd003a);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }

    div .c-nav-primary-wrapper {
        position: sticky;
        top: 0;
    }

    figure > p > span {
        font-size: 1.2em;
    }

    header {
        display: none;
    }

    div.radioco-schedule-embed {
        width: 100%;
        overflow-y: hidden;
    }


    div.dv-grid__item three-eighths m-hide s-hide u-flex__item::first-of-type {
        display: none;
    }

    div.c-output-wrapper {
        position: sticky;
        top: 0;
        z-index: 10;
    }

    .meetTheTeam > figure {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 10px;
        margin: 20px;
    }

    .meetTheTeam > figure > * {
        margin: 10px;
    }

    figure > img {
        width: 300px;
        object-fit: contain;
    }

    .meetTheTeam h3 {
        color: #bd003a;
    }

    img.gm-sec-img {
        height: 104px !important;
        width: 161px;
    }
</style>